* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  text-align: center;
  font-family: arial;
  text-transform: uppercase;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/background3.jpg');
}

.container{
  margin: 70px 150px 50px 150px;

  border: 3px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.4);
}

h1{
  margin-top: 80px;
  font-size: 28px;
  font-weight: normal;
  
  color: #fff;

}

.clockdiv{
  display: inline-block;
  width: 100%;
  padding: 100px;
  padding-top: 50px;

  color: #fff;

  text-align: center;
  vertical-align: middle;

}

.clockdiv > div{
  display: inline-block;
  min-height: 200px;
  min-width: 200px;
  padding: 60px;
  margin-left: 5px;

  border: 3px solid rgba(255, 255, 255, 0.0);;
  background-color: rgba(0, 0, 0, 0.6);
}

.clockdiv .time-number{
	font-size: 50px;
	color: #fff;
}

.smalltext{
  padding-top: 10px;
  font-size: 16px;
  font-weight: normal;

  color: rgba(255, 255, 255, 0.8);

}
